@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #2B3541;
}
a {
    text-decoration: none;
    color: #2B3541;
}
header {
    padding: 49px 50px 27px 52.6px;
    display: flex;
    justify-content: space-between;
}
.header-item {
    display: flex;
    gap: 237px;
}
.header-logo {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    display: block;
    width: 97px;
    height: 30px;
}
.header-nav {
    display: flex;
    gap: 54px;
    list-style-type: none;
    margin-top: 3px;
    margin-bottom: 0;
    padding: 0;
}
.header-nav a {
    font-size: 18px;
    line-height: 1.5;
}
.social-icons {
    display: flex;
    gap: 30px;
    opacity: 0.8;
}

/* modal */

.burger {
    width: 29px;
    height: 22px;
    background-image: url(../img/burger-menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#modal {
    background-color: #F3F3F3;
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    padding: 29px 10px 16px 10px;
    box-sizing:border-box;
}
#modal .header-nav {
    flex-direction: column;
    gap: 0;
    /* align-items: center;
    max-width: 300px; */
    margin-top: 40.5px;
    margin-bottom: 40px;
}
#modal li a {
    font-size: 16px;
}
#modal li:not(:last-child):after {
    content:'';
    border-bottom: 1px solid #2B3541;
    display: block;
    margin-top: 19px;
    margin-bottom: 20px;
    opacity: 0.2;
}
.burger-close {
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 19px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-size: contain;
    position: absolute;
    top: 30px;
    right: 8px;
}
#modal .social-icons {
    justify-content: flex-end;
    padding-right: 20px;
}


@media (min-width: 768px) {
    .header-burger {
        display: none;
    }
}
@media (max-width:1111px) {
    .header-item {
        gap: 57px;
    }
}
@media (max-width:833px) {
    header {
        padding: 30px 10px;
        align-items: baseline;
    }
}
@media (max-width:767px) {
    nav {
        display: none;
    }
}
@media (max-width:479px) {
    .header-logo {
        background-size: contain;
        width: 78px;
        height: 24px;
    }
    .social-icons {
        gap: 20px;
        opacity: 1;
    }
    .social-icons img {
        width: 26px;
        height: 26px;
    }
}